<form action="." method="post" accept-charset="utf-8">
         <div id="hotel" class="form_row">
           <label for="hotel">{{form.hotel.label}}</label>
           {{form.hotel}}
          </div>
          <div id="selector_fino" class="form_row">
            <label for="id_fecha_llegada">{{form.fecha_llegada.label}}</label>
            {{form.fecha_llegada}}
            <label for="id_fecha_salida">{{form.fecha_salida.label}}</label><br/>
            {{form.fecha_salida}}
          </div>
          <div id="habitaciones" class="form_row">
            <label for="id_habitaciones">Habitaciones</label>
            {{form.habitaciones}}
            </div>
            <div id="distri_1">
              Adultos {{form.adultos_d1}}
              Niños {{form.nins_d1}}
              <div id="edad_nin_d1" class="span-6 last" style="display:none;">
                Edad de los niños en Habitación 1 <br/>
                {{form.edad_nin1_d1}}
                {{form.edad_nin2_d1}}
                {{form.edad_nin3_d1}}
              </div>
           </div>
          <div id="distri_2" style="display:none;">
              Adultos {{form.adultos_d2}}
              Niños {{form.nins_d2}}
                <div id="edad_nin_d2" class="span-6 last" style="display:none;">
                Edad de los niños en Habitación 2 <br/>
                {{form.edad_nin1_d2}}
                {{form.edad_nin2_d2}}
                {{form.edad_nin3_d2}}
               </div>
              </div>
          <div id="distri_3" style="display:none;"> 
              Adultos {{form.adultos_d3}}
              Niños {{form.nins_d3}} 
             <div id="edad_nin_d3" class="span-6 last" style="display:none;">
                Edad de los niños en Habitación 3 <br/>
                {{form.edad_nin1_d3}}
                {{form.edad_nin2_d3}}
                {{form.edad_nin3_d3}}
              </div>
            </div>
         <p><input type="submit" value="Buscar &rarr;"></p>
        </form>
      </div>
