#lista de requerimientos del motor
django
pil
ipython
south
south
ipython
gunicorn
django-simple-captcha
simplejson
-e git://github.com/howiworkdaily/django-faq.git#egg=django_faq
-e git://github.com/django-extensions/django-extensions.git#egg=django_extensions
-e git://github.com/samuraisam/django-json-rpc.git#egg=django-json
